*{
    box-sizing: border-box;
}
.App{
    height: 100vh;
    box-sizing: border-box;
    padding: 20px 40px;
}
.SearchPlayer-Container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.playerCard-container{
    border:1px solid;
    border-radius: 9px;
    text-align: center;
    margin:20px 0;
    padding: 20px;
    .PlayerCard-img{
        height: 200px;
        width: 250px;
        display: inline-block;
        border: 1px solid;
    }
}
.AuctionButtons{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .buttons{
        text-align: center;
        cursor: pointer;
        padding: 4px 30px;
        border: 1px solid;
        line-height: 20px;
        height:32px;
        border-radius: 3px;
    }

}    

.AuctionTeam-Container{
    display: flex;
    gap:20px;
    .AuctionTeam{
        flex-grow: 1;
        border: 1px solid;
        display: flex;
        align-items: center;
        text-align: center;
        .AuctionTeam-Logo{
            width:40%;
            height:100%;
            border: 1px solid;;
        }
       
        .AuctionTeam-Details{
            flex-grow:1;
            display: flex;
            flex-direction: column;
            gap: 3px;
            padding: 5px 10px;
        }
    }
}

.playerListwrapper-card{
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    overflow: auto;
    gap: 10px;
    .PlayerListCard{
        display: flex;
        border: 1px solid;
        border-radius: 3px;
        padding: 5px 20px;
        gap: 3px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        .playerName{
            font-size: 18px;
            font-weight: 600;
        }
        .RatingContainer > span::before {
            content: "\2605";
            color: #ddd;
        }
        
        .RatingContainer.star1 span:nth-of-type(1)::before {
            color: gold; 
        }
        
        .RatingContainer.star2 span:nth-of-type(-n+2)::before {
            color: gold;
        }
        
        .RatingContainer.star3 span:nth-of-type(-n+3)::before {
            color: gold;
        }
        
        .RatingContainer.star4 span:nth-of-type(-n+4)::before {
            color: gold;
        }
        
        .RatingContainer.star5 span:nth-of-type(-n+5)::before {
            color: gold;
        }
    }
}

.fullSquad-playerlist{
    display: flex;
}

.p-button.p-component{
    padding:6px 30px;
    height:32px;
    font-size: 14px;
}

