*{
    box-sizing: border-box;
}
.App{
    height: 100vh;
    box-sizing: border-box;
    padding: 20px 40px;
}
.SearchPlayer-Container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.playerCard-container{   
    position: relative;
    border:1px solid;
    border-radius: 9px;
    text-align: center;
    margin:20px 0;
    padding: 20px 20px 55px 20px;
    .PlayerCard-img{
        height: 200px;
        width: 250px;
        display: inline-block;
        border: 1px solid;
    }
    .unsoldBtn{
        position: absolute;
        right:35px;
        bottom: 10px;
    }
}
.AuctionButtons{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .buttons{
        text-align: center;
        cursor: pointer;
        padding: 4px 30px;
        border: 1px solid;
        line-height: 20px;
        height:32px;
        border-radius: 3px;
    }

}    

.AuctionTeam-Container{
    display: flex;
    gap:20px;
    .AuctionTeam{
        flex-grow: 1;
        border: 1px solid;
        display: flex;
        align-items: center;
        text-align: center;
        .AuctionTeam-Logo{
            width:40%;
            height:100%;
            border: 1px solid;;
        }
       
        .AuctionTeam-Details{
            flex-grow:1;
            display: flex;
            flex-direction: column;
            gap: 3px;
            padding: 5px 10px;
        }
    }
}

.playerListwrapper-card{
    display: flex;
    flex-wrap: wrap;
    max-height: 330px;
    overflow: auto;
    gap: 10px;
    .PlayerListCard{
        display: flex;
        border: 1px solid;
        border-radius: 3px;
        padding: 5px 20px;
        gap: 3px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        .playerName{
            font-size: 18px;
            font-weight: 600;
        }
        .RatingContainer > span::before {
            content: "\2605";
            color: #ddd;
        }
        
        .RatingContainer.star1 span:nth-of-type(1)::before {
            color: gold; 
        }
        
        .RatingContainer.star2 span:nth-of-type(-n+2)::before {
            color: gold;
        }
        
        .RatingContainer.star3 span:nth-of-type(-n+3)::before {
            color: gold;
        }
        
        .RatingContainer.star4 span:nth-of-type(-n+4)::before {
            color: gold;
        }
        
        .RatingContainer.star5 span:nth-of-type(-n+5)::before {
            color: gold;
        }
    }
}

.fullSquad-playerlist{
    display: flex;
    gap: 15px;
    padding:5px 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius:3px;
    margin-bottom: 5px;
}

.p-button.p-component{
    padding:6px 30px;
    height:32px;
    font-size: 14px;
}

.fullSquad-List{
    max-height: 350px;
    height: 350px;
    overflow: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 9px;
    .NoPlayerSelected{
        height: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    
}
.fullSquad-teamInfo{
    display: flex;
    padding: 15px 0;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    .fullSquad-details{
        font-size: 20px;
        font-weight: 600;
    }
}



.browserScrollStyle
{
    &::-webkit-scrollbar {
        width: 0.8rem;
        margin-left: 3rem;
      }
    
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 1rem;
      }
    
      &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        // height: 10rem;
        background-color: #cfd8dc;
      }
}
